// |--------------------------------------------------------------------------
// | Price
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .partial--price
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin partial--price-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.partial--price {

  .partial__body {
    color: $text-color-light;
    text-align: center;

    .field-vih-og-price-addition-table {
      margin-bottom: 0;
      text-align: left;

      tr {
        border: 0;

        td {
          border: 0;

          &:first-child {
            padding-left: 0;
            width: 69%;
          }

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }

  #vih-course-price {
    display: inline-block;
  }

  #vih-event-price {
    display: inline-block;
  }

  .field-vih-sc-price-container{
    text-align: left;

    div {
      display: inline-block;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
