<div class="banner banner--small" style="background-image: url({{ banner['#background_image'].image.entity.fileuri | image_style('banner_small') }})">
  <div class="banner__inner">
    <div class="container">
      <div class="banner__heading">
        <h1 class="banner__heading__title">{{ banner['#title'] | raw }}</h1>
      </div>
    </div>
  </div>
</div>
