// |--------------------------------------------------------------------------
// |
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - #application-form
// |

#application-form {
  #coursePeriods {
    .boxy {
      margin-bottom: 0;
    }
  }

  #accordion fieldset {
    margin-bottom: 0;

    legend {
      display: none;
    }

    .fieldset-wrapper {
      margin: 0;
    }
  }

  #questions {
    .panel-title {
      padding: 14px 15px;
    }

    .panel {
      h5 {
        margin-top: 0;
      }
    }

    legend {
      .fieldset-legend {
        color: #888;
        font-size: 16px;
        text-transform: none;
        font-family: Lato, sans-serif;
        letter-spacing: normal;
        font-weight: bold;
      }
    }
  }

  #parents-wrapper {
    .parent {
      margin: 1em 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
    .actions {
      margin-top: 1em;

      button {
        margin-right: 10px;
      }
    }

    .parents-top {
      fieldset {
        margin-bottom: 10px;
      }

      legend {
        .fieldset-legend {
          color: #888;
          font-size: 16px;
          text-transform: none;
          font-family: Lato, sans-serif;
          letter-spacing: normal;
          font-weight: bold;
        }
      }
    }
  }
}

.page-node-type-vies-application-form {
  article {
    .field {
      margin: 10px 0;

      .field--label {
        margin: 0;
      }

      .field--item,.field--items, .field--label {
        margin: 0;
        float: none;
        display: inline;
      }
    }

    .field--adress {
      margin: 10px 0;
      clear: both;

      > label {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        color: $gray-dark;
        letter-spacing: 1px;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1.1;
      }

      .field {
        margin: 0;
      }
    }

    .field--name-field-vies-parents {
      > .field--label {
        display: block;
        margin: 10px 0;
      }

      > .field--items {
        margin: 10px 0;

        > .field--item  {

          .application-form-parent {
            background: #DDD;
            padding: 10px;
          }

          &:nth-child(2) {
            .application-form-parent {
              background: #EEE;
            }
          }
        }
      }
    }

    .application-form-parent {
      .field--item,.field--items, .field--label, .field--adress > label {
        color: $gray-dark;
        font-size: 16px;
        text-transform: none;
        font-weight: normal;
        letter-spacing: normal;
      }

      .field {
        margin: 0;
      }

      .field--adress {
        margin: 0;

        .field {
          display: block;
        }
      }

      .field--name-field-parent-type {
        text-transform: capitalize;

        &:after {
          content: ":"
        }
      }
    }

    .application-form-answer {
      margin: 15px 0;

      .field {
        display: block;

        &--name-field-question {
          font-weight: bold;
          color: $gray-dark;
        }

      }
    }

    .field--name-field-vies-status,
    .field--name-field-vies-label {
      .field--item {
        display: block;
      }
    }

    .field--name-field-vies-class-questions {
      margin-top: 30px;
    }
  }
}
#vih-subscription-long-course-order-form,
#vih-subscription-short-course-order-form,
#application-form{
  .form-item-birthdate{
    label{
      margin-bottom: 5px;
    }
    input#edit-birthdate{
      display: block;
    }
  }
}