// |--------------------------------------------------------------------------
// | Order confirmation
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .page-node-type-vih-short-course-order
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin page-node-type-vih-short-course-order-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.page-node-type-vih-short-course-order {

  .boxyabove {
    margin-bottom: $grid-gutter-width;
  }

  .paragraph--type--vih-ordered-option {

    // Label
    .field {
      font-family: $headings-font-family;
      font-weight: $headings-font-weight-bold;
      font-size: $font-size-h5;

      color: $headings-color;

      text-transform: uppercase;
    }
  }

  .field--name-field-vih-sco-persons {

    > .field--label {
      padding-left: floor( ($grid-gutter-width / 2) );
      padding-right: floor( ($grid-gutter-width / 2) );
    }

    &.row {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .col-xs-12,
    .col-md-6 {
      width: 100% !important;

      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .field--name-field-vih-ocp-first-name,
  .field--name-field-vih-ocp-last-name {
    display: inline-block;
  }

  li {
    padding: 10px 0;

    list-style: none;
  }

  .paragraph--type--vih-ordered-course-person {

    .sectioned__inner {
      padding: 0;
    }

    .sectioned--skewed-angle-top {
      margin-top: 0 !important;

      &:before {
        display: none;
      }
    }

    .sectioned--skewed-angle-bottom {
      margin-bottom: 0 !important;

      &:after {
        display: none;
      }
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}